.ni-button {
    cursor: pointer;
    margin-right:1em;
    transition: all 0.3s;
}
.ni-delete{
    position: absolute;
        top: 10%;
        right: 10px;
}
.ni-button:hover{
    color: blueviolet;    
}
.navbarfixed{
    position: fixed;
    width:100%;
    margin-bottom: 50px ;
}
.alertBar{
    position: relative;
    width:100%;
    top: 50px;
    height:50px;
}
.fullPage{
    margin-top:60px;
}