.ni-button {
    cursor: pointer;
    margin-right:1em;
    transition: all 0.3s;
}
.ni-delete{
    position: absolute;
        top: 10%;
        right: 10px;
}
.ni-button:hover{
    color: blueviolet;    
}