.btn{
    background-color:#7689de;
    color:white;
    border: none;
}
body, .input1,.input{
    /* background-color: #a9dce3; */
}
.input1{
    /* border-color: black; */
}
*, navbar{
    color : #475596;
}

.ni-button {
    cursor: pointer;
    margin-right:1em;
    transition: all 0.3s;
}
.ni-delete{
    position: absolute;
        top: 10%;
        right: 10px;
}
.ni-button:hover{
    color: blueviolet;    
}
.navbarfixed{
    position: fixed;
    width:100%;
    margin-bottom: 50px ;
}
.alertBar{
    position: relative;
    width:100%;
    top: 50px;
    height:50px;
}
.fullPage{
    margin-top:60px;
}
.col60-heading{
    width:90%;
}
.col70-sub{
    width: 80%;
    margin-left: 20px;
}
/* .sub-sub{
    font-size: 1.8rem;
} */
.btn1{
    margin-top:20px;
    margin-left:20px;
    font-size:200%;
}
.login-home{
    width:50%;
}
.footer{
    display:block;
    margin-bottom: 0px;
    position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        /* background: #19618b; */
}